@import "tailwindcss";

/* :root {
  --background: #f5f0e8;
  --foreground: #2d4a2d;
  --accent: #8faa72;
  --muted: #9c8f7a;
} */

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-creme: #f5f0e8;
  --color-sable: #c9b99a;
  --color-marron: #8b6347;
  --color-espresso: #3b2a1a;
  --color-sapin: #2d5a3d;
  --color-mousse: #4a7c5f;
  --color-ambre: #c07a30;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-paused:hover {
  animation-play-state: paused;
}
